# Core Django
Django==5.2.4
asgiref==3.9.1
sqlparse==0.5.3

# Deployment
gunicorn==23.0.0
python-dotenv==1.2.1
whitenoise==6.11.0

# Database
psycopg2-binary==2.9.10

# DNS + WHOIS + Scanning
dnspython==2.8.0
python-whois==0.9.6
requests==2.32.4
python-nmap==0.7.1

# Background Tasks
celery==5.5.3
redis==6.4.0
billiard==4.2.3
kombu==5.5.4

# Channels (WebSockets)
daphne==4.2.1
channels==4.2.2
channels-redis==4.3.0

# Security
cryptography==45.0.7

# Misc
pytz==2025.2
tzdata==2025.2


